.App {
    text-align: center;
}

.logo {
    /* width: 200px; */
    object-fit: contain;
}

.app__form {
    padding: 20px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #e9e9eb;
    display: flex;
    width: 96%;
    margin: 20px;
    justify-content: center;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .app__form {
        margin: 0 auto;
        width: 90%;
    }
    .logo {
        width: 100px;
    }
}

.app__formControl {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
}

.app__iconButton {
    top: 9px;
    flex: 0;
}

.app__input {
    flex: 1;
}